## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.idea

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Oo]bj/
[Bb]in/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
